
/*HEADER CSS*/

.barmitzvah_logo {
        width:50% 
        height:50}



/*FOOTER CSS*/


@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
            
            body {
                font-family: 'Lato', sans-serif;
                color: #FFF;
                background: #322f30;
                -webkit-font-smoothing: antialiased;
            }
            a {
                text-decoration: none;
                color: #fff;
            }
                    p > a:hover{
                        color: #d9d9d9;
                        text-decoration:  underline;
                    }
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        margin:  1% 0 1% 0;
                    }
                    ._12 {
                        font-size: 1.2em;
                    }
                    ._14 {
                        font-size: 1.4em;
                    }
                    ul {
                        padding:0;
                        list-style: none;
                    }
                    .footer-social-icons {
                        width: 350px;
                        display:block;
                        margin: 0 auto;
                    }
                    .social-icon {
                        color: #fff;
                    }
                    ul.social-icons {
                        margin-top: 10px;
                    }
                    .social-icons li {
                        vertical-align: top;
                        display: inline;
                        height: 100px;
                    }
                    .social-icons a {
                        color: #fff;
                        text-decoration: none;
                    }
                    .facebook {
                        padding:10px 14px;
                        -o-transition:.5s;
                        -ms-transition:.5s;
                        -moz-transition:.5s;
                        -webkit-transition:.5s;
                        transition: .5s;
                        background-color: #322f30;
                    }
                    .facebook:hover {
                        background-color: #3d5b99;
                    }
                    .twitter {
                        padding:10px 12px;
                        -o-transition:.5s;
                        -ms-transition:.5s;
                        -moz-transition:.5s;
                        -webkit-transition:.5s;
                        transition: .5s;
                        background-color: #322f30;
                    }
                    .twitter:hover {
                        background-color: #00aced;  
                    }

                    .opentable {
                        padding:10px 12px;
                        -o-transition:.5s;
                        -ms-transition:.5s;
                        -moz-transition:.5s;
                        -webkit-transition:.5s;
                        transition: .5s;
                        background-color: #322f30;
                    }
                    .opentable:hover {
                        background-color: #00aced;  
                    }