/*******************************************************
GLOBAL
********************************************************/




/*******************************************************
NAVIGATION
********************************************************/


  
  

.nav ul {
    float: left;
    list-style-type: none;
    width: 100%
  
}

  

.nav li a {  
  padding: 40px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: black;
  float: left;
}
.nav li a:hover {
  color: white;
  background-color:green;
}

.navBar {
     width: 100%;

}
.nav{
    width: 100%;
}
.ContactInfo {
 	display: flex;
 	display: -webkit-flex;
 	width: 100%;
 	

}

.Contact {
 	width: 30%;
 	margin: 30px;
    list-style: none;
  }
    


.card {
  border: 2px solid black;
  margin: 4px;
  padding: 4px;
  text-align: center;

 }

 p.card {
  font-family: 'Lato', sans-serif;
  font-size: 12em;
 }

.flex-container {
  display: inline-flex; /* or inline-flex */
  flex-direction: row | row-reverse | column | column-reverse;
  margin: 4px;
  padding: 4px;

}








/*******************************************************
PAGE; HOME
********************************************************/





/*******************************************************
PAGE: MENU;
********************************************************/
/*need cards in grid, add borders, change font*/





/*******************************************************
PAGE EVENTS
********************************************************/





/*******************************************************
PAGE ABOUT
********************************************************/

/* Figure out how to float "Meet Our Chefs" section to the right of the image. */




/*******************************************************
CONTACTS
*******************************************************/









/*******************************************************
PALETTE/THEME
/*******************************************************















